/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

body {
    background-color: #F6F8F9;
}

/* HEADER */
.page-header {
    background-color: white;
    padding: 10px 20px;
}

/* MAIN */
.content {
    padding: 50px 0px;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* BOTTONI */
.bottons {
    padding: 10px 50px;
    background-color: white;
    margin-bottom: 5px;
}

.button-task {
    display: inline-block;
    background-color: #14AAF5;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

.button-section {
    display: inline-block;
    background-color: #white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

/* LISTE */
.section-list {
    background-color: white;
    padding: 20px 40px;
    }
    
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.title-list {
    display: inline-block;
    padding-right: 10px;
}

.list-items li {
    margin-top: 10px;
}

.today-list {
    padding-top: 30px;
}

.upcoming-list {
    padding-top: 30px;
}

span {
    color: white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px;
    text-align: center;
    line-height: 10px;
}

.editorial {
    font-size: 10px;
    background-color: #09A9ED;
}

.q-one-goals {
    font-size: 10px;
    background-color: #AB5DE6;
}

.recruiting {
    font-size: 10px;
    background-color: #2CC6AB;
}

.mobile {
    font-size: 10px;
    background-color: #FF9B00;
}

.website {
    font-size: 10px;
    background-color: #EC4A9D;
}

.sales {
    font-size: 10px;
    background-color: #A3D116;
}

